awesome/awesome-wm-widgets
git
BraveSoftware
Code - OSS
 alacritty
★ awesome
balena-etcher
btop
config
dconf
discord
google-chrome
gtk-2.0
gtk-3.0
htop
light
lutris
menus
mpv
nitrogen
✗ nvim
packer
procps
pulse
qBittorrent
ranger
spotify
systemd
vlc
yay
.gitignore
★ QtProject.conf
kconf_updaterc
kdeglobals
mimeapps.list
pavucontrol.ini
Postman
PCSX2
QtProject.conf
QtProject
libreoffice
rpcs3
unity3d/
user-dirs.dirs
user-dirs.locale
zathura/
FAITH/
GIMP/
Slack/
TradingView/
autostart/
awesome-wm-widgets2/
create-next-app-nodejs/
deepin/
dsg/
figma-linux/
github-copilot/
kdeconnect/
nextjs-nodejs/
ngrok/
okularpartrc
okularrc
shell_gpt/
